@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.reveal .slides h2,
.reveal .slides h3,
.reveal .slides h4,
.reveal .slides h5,
.reveal .slides h6 {
  text-align: center !important;
  font-size: 1.4em !important;
}

.reveal .quarto-title-author-email {
  color: grey !important;
}

.reveal .slides img {
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.7)) !important;
}

.reveal .slide-background-content {
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.7)) !important;
}

.reveal .slides {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7) !important;
}